.header{
    position: fixed;
    background-color: white;
    padding-top: 28px;
    padding-bottom: 28px;
    margin: 0 auto;
    width: 100%;

}

.wrapper_header {
    width: 1200px;
    display: flex;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

}




.logo_link {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #95E1D3;
}

.menu  {
    width: 490px;
}

.menu_list {
    display: flex;
    justify-content: space-between;
    align-items: center;

}



.menu_item_link {
    font-style: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #95E1D3;
    text-transform: uppercase;
    padding-bottom: 12px;
    position: relative;
    
}

.menu_item_link:hover {
    color: #f38181;
    border-bottom: 3px solid #f38181;
}
