.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.3)), url(../img/mob_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 768px) {
    .header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.3)), url(../img/tab_bg.png);

    }
}

@media screen and (min-width: 1440px) {
    .header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.3)), url(../img/das_bg.png);

    }
}


.header_wrapper {
    padding: 1rem 1rem 0 1rem;
    text-align: center;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .header_wrapper {
        padding: 2rem 2rem 0 2rem;
    }
}

@media screen and (min-width: 1440px) {
    .header_wrapper {
        padding: 46px 0 0 0;
        width: 940px;
    }
}

.header_nav_wrapper {
    margin-bottom: 38px;
}

@media screen and (min-width: 768px) {
    .header_nav_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 152px;
        flex-direction: row-reverse;
    }
}

.header_navigation {
    margin-bottom: 115px;
}

@media screen and (min-width: 768px) {
    .header_navigation {
        margin-bottom: 0;
    }
}

.logInBtn {
    font-size: 14px;
    color: #ffffff;
    padding: 10px 18px;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 36px;
    font-weight: 700;
    outline: none;
}

.logInBtn:hover {
    border: 2px solid #ffffff;
}


.header_logo {}

.logo_link {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.header_title {
    font-size: 27px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 19px;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .header_title {
        font-size: 52px;
        margin-bottom: 40px;
        padding: 0 93px;
    }
}

@media screen and (min-width: 1440px) {
    .header_title {
        font-size: 63px;

    }
}

.header_subtitle {
    font-size: 15px;
    color: #ffffff;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 19px;
    padding: 0 28px;
}

@media screen and (min-width: 768px) {
    .header_subtitle {
        font-size: 24px;
        margin-bottom: 34px;

    }
}

.header_btn_find {
    font-family: 'Montserrat', sans-serif;
    background-color: #ff4e50;
    color: #ffffff;
    border: 2px solid #ff4e50;
    font-weight: 700;
    font-size: 12px;
    padding: 14px 52px;
    outline: none;
    cursor: pointer;
    border-radius: 40px;
    margin-bottom: 139px;
}

@media screen and (min-width: 768px) {
    .header_btn_find {
        font-size: 14px;
        padding: 14px 25px;
        margin-bottom: 234px;

    }
}

@media screen and (min-width: 1440px) {
    .header_btn_find {
        margin-bottom: 234px;
    }
}